<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	
    	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    	<property name="show_sql">true</property>
    	<property name="format_sql">true</property>
<!--     	update: 这个操作启动的时候会去检查schema是否一致，如果不一致会做scheme更新 -->
    	
    	<!-- 配置二级缓存相关 -->
    	
    </session-factory>
</hibernate-configuration>
